<app-navbar></app-navbar>
<div class="row container-fluid" style="margin-top: 100px">
  <div class="col-sm-4" style="height: 330px;margin-left: 70px">
    <div class="card " style="width:300px;">
      <img class="card-img-top" src={{products.image}} alt="Card image" style="image-resolution: inherit">
      <div class="card-body">
        <h4 class="card-title" style="margin-top: 10px;margin-left: 20px">{{products.name}}</h4>
        <button routerLink="/cart" class="btn btn-primary btn-block " style="margin-top: 25px;" (click)="addThisToCart(id)">Add to cart</button>
      </div>
    </div>
  </div>
  <div class="col-sm-5" style="padding: 50px;padding-top: 0px;margin-top: 150px">
    <div class="card " style="width:600px">
      <div class="card-body">
        <h2 class="card-title">{{products.name}}</h2>
        <h3><br>&#8377;{{products.price}}</h3>

        <table class="table table-condensed">
<thead>
<tr>
  <td>
  Detail
  </td>
  <td>
  {{products.details}}
  </td>
</tr>
</thead>
        </table>
      </div>
    </div>
  </div>
</div>

