<app-navbar></app-navbar>
<div class="container-fluid" id="grad" style="padding-bottom: 100px;">
  <div class="bg-white signupbox">
    <h2 class="font1 p-5 text-center">Add New Product</h2>
    <div class="container" style="width: 500px">
      <form action="add-product">

        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Enter Product Name" name="name" [(ngModel)]="product.name" required>
        </div>
        <div class="form-group">
          <input type="" class="form-control" id="image" placeholder="Enter Image Path" name="image" [(ngModel)]="product.image" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="price" placeholder="Enter Price" name="price" [(ngModel)]="product.price" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="details" placeholder="Enter Details" name="details" [(ngModel)]="product.details" required>

        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="category" placeholder="Enter Category" name="details" [(ngModel)]="product.category" required>
        </div>
        <button type="submit" class="btn btn-info mt-3 mb-3 w-100" (click)="addProduct()">Add Product</button>
      </form>
    </div>
  </div>
</div>
